<!DOCTYPE html>
<html lang=en>
  <head>
    <title>Burn After Reading</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Burn After Reading</h1>
      <p>Securely share something secret</p>
    </div>

    <div class="container">
      <h3>Enter your secret</h3>
      <textarea rows="10" style="width: 100%; resize: vertical"></textarea>
      <br>
      <div style="margin-top: 20px">
        <div class="btn-toolbar pull-right">
          <button class="btn btn-primary">Encrypt</button>
          <button class="btn btn-primary">Get Share Link</button>
        </div>
    </div>

    
    </div>
  </body>

</html>