<!DOCTYPE html>
<html lang=en>
  <head>
<% include ./partials/head %>
  </head>

  <body>
    <header>
<% include ./partials/header %>
    </header>
    
    <div class="container">
      <h3>Your secret message</h3>
      <p class="text-danger">You can only view this content once! By viewing this message, you have deleted it from the server</p>
      <pre class="well" style="width: 100%;"><%= message %></pre>
    </div>
  </body>

</html>