<!DOCTYPE html>
<html lang=en>
  <head>
<% include ./partials/head %>
  </head>

  <body>
    <header>
<% include ./partials/header %>
    </header>
    
    <div class="container">
      <h3>Your secret</h3>
      <h4 class="text-danger">You can only view this content once! By viewing this page you have deleted it from the server</h4>
      <pre class="well" style="width: 100%;"><%= message %></pre>
    </div>
  </body>

</html>