<!DOCTYPE html>
<html>
<head>
<% include ./partials/head %>
</head>

<body>
    <header>
<% include ./partials/header %>
    </header>

    <div class="container text-center">
        <h3>Sorry, <%= message %></h4>
        <a href='/' class="lead">Create a new message</a>
    </div>
</body>

</html>